<app-header></app-header>
<div class="content align-items-center">
  <div class="d-grid gap-2 d-md-flex justify-content-md-center" >
    <h2 class="title">{{title}}</h2>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <hr class="title-separator">
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: 2%; margin-right: 4vw;">
    <button class="button drive dark" type="button" (click)="changeView()">
      {{buttonText}}
    </button>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <!--Cartas para crear-->
    <div class="row row-cols-1 row-cols-md-6 g-4" *ngIf="createCards" style="width: 80%;">
      <div class="col marvel-card" *ngFor="let card of cardsToCreate">
        <div class="card h-100" (click)="openPopup(card,1)">
          <img src="./../../../../assets/img/marvel-cards/{{card}}.jpg" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
    <!--Cartas Creadas-->
    <div class="row row-cols-md-6 g-4 " *ngIf="!createCards" style="width: 80%;">
      <div class="col marvel-card" *ngFor="let card of cards">
        <div class="card h-100" (click)="openPopup(card,2)">
          <img src="./../../../../assets/img/marvel-cards/{{card.image}}.jpg" class="card-img-top" alt="...">
          <div class="card-footer h-100">
            <small class="card-text">Poder: {{ card.power }}</small> <br>
            <small class="card-text">Descripcion: {{ card.description }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-create-card [title]="modalTitle" [displayStyle]="displayStyle" [image]="imageUrlComplete" [info]="info"
  (modalStatus)="closePopup($event)"></app-create-card>
</div>
