<app-header></app-header>
<div class="content d-flex align-items-center">
    <div id="home-columns" class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col mt-35">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../../assets/img/card-back/0.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" *ngFor="let card of cards">
                        <img src="../../../../assets/img/card-back/{{ card }}.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-35" style="width: 49%;">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: 5vh;"
                *ngIf="!waitingUsers">
                <button class="btn btn-primary btn-lg" type="button" (click)="changeForm()">
                    {{ buttonText }}
                </button>
            </div>

            <div class="card form">
                <div class="card-body">
                    <h5 *ngIf="game == null" class="card-title text-center pd-20">Crear Juego</h5>
                    <h5 *ngIf="game != null" class="card-title text-center pd-20">{{ game.gameId }}</h5>
                    <div *ngIf="waitingUsers">
                        <div class="d-flex align-items-center">
                            <strong>Esperando Jugadores...</strong>
                            <div class="spinner-border ms-auto text-danger" role="status" aria-hidden="true"></div>
                        </div>
                        <div class="card" *ngFor="let player of game.players" style="height: 12vh; margin-top: 5%;">
                            <div class="row g-0">
                                <div class="col-md-4" style="height: 39%; text-align: center;">
                                    <img src="./../../../../assets/img/avatar.jpg" class="img-fluid rounded-start"
                                        alt="..." style="height: 100%;">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ player.name }}</h5>
                                        <p class="card-text">
                                            <small class="text-muted">
                                                Online
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a *ngIf="waitingUsers" class="btn btn-primary mt-35 ms-auto me-auto" (click)="startGame()">Iniciar Juego</a>

                    <div *ngIf="!waitingUsers">
                        <form id="create-game-card" [formGroup]="createGameForm" (ngSubmit)="createGame()">
                            <div class="input-group pd-20">
                                <div class="input-group-text input-icon">
                                    <em class="fas fa-solid fa-gamepad"></em>
                                </div>
                                <input type="text" class="form-control" id="id" placeholder="Id del juego" name="id"
                                    required formControlName="gameId">
                            </div>
                            <div class="input-group pd-20" *ngIf="!joinSesion">
                                <div class="input-group-text input-icon">
                                    <em class="fas fa-solid fa-users"></em>
                                </div>
                                <input type="number" class="form-control" id="id" placeholder="N° Jugadores" name="id"
                                    required formControlName="playerNumber">
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <button class="button drive dark" type="button" (click)="createGame()"
                                    *ngIf="!joinSesion">
                                    Crear Juego
                                </button>
                                <button class="btn btn-primary btn-lg" type="button" (click)="joinGame()"
                                    *ngIf="joinSesion">
                                    Unirse al Juego
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>