<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-labelledby="main-navbar">
  <a class="navbar-brand cursor-pointer" routerLink="game/home">
    <img src="./../../../../assets/img/betting-logo.png" alt="Betting Game" width="115">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Betting Game">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="main-navbar">
    <ul class="navbar-nav">
      <li class="nav-item dropdown-center">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <em class="fas fa-user fa-lg"></em>
          <strong>{{ userName() }}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item cursor-pointer" data-bs-toggle="modal" data-bs-target="#profile-modal">
            Perfil
          </a>
          <a class="dropdown-item cursor-pointer" *ngIf="isAdmin()" routerLink="/game/cards">
            Gestionar Cartas
          </a>
          <a class="dropdown-item cursor-pointer" *ngIf="isLogged()" (click)="signOut()">
            <em class="fa-solid fa-arrow-right-to-bracket"></em>
            Cerrar Sesión
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="modal" id="profile-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form id="create-game-card">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Perfil</h5>
        </div>
        <div class="modal-body row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card" id="profile-image">
              <img src="./../../../../assets/img/avatar.jpg" *ngIf="!hasImage()" class="card-img-top" alt="Default image">
              <img [src]="userImage()" *ngIf="hasImage()" class="card-img-top" alt="Profile image">
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input readonly type="text" class="form-control" id="email" placeholder="@email" name="email" value="{{ userEmail() }}" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-target="#profile-modal" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>